.content__wrapper {
  .wc__msg {
    margin-top: 1rem;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    justify-items: center;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3rem;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 2rem;
    }

    .progress__chart {
      width: 80%;

      canvas {
        width: 60%;
      }

      .routine__title {
        @media only screen and (max-width: 768px) {
          text-align: center;
        }
      }

      .routine__content {
        margin-top: 1rem;

        .progress {
          margin-top: 1rem;
        }
      }
    }

    .curr__workout {
      width: 100%;
      .workout__card {
        .title__wrap {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .routines__wrapper {
          margin-top: 1rem;
          max-height: 180px;
          overflow-y: auto;

          .routine {
            padding: 10px 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
