.sidebar {
  .sidebar__logo {
    padding: 0.5rem 0;
  }

  .profile {
    margin: 1rem 0;

    .profile__pic {
      width: 90px;
      height: 90px;
      border-radius: 100%;
    }
  }

  .list {
    margin-bottom: 0.5rem;

    .icon {
    }

    .text {
      margin-left: -1rem !important;
    }
  }

  .logout__btn {
    // margin-top: 20vh;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.active {
  background: #eeeeee;
}
