.progress__wrapper {
  .progress__content {
    margin-top: 3rem;

    .progress--chart {
      canvas {
        height: 100% !important;
        width: 100% !important;
      }

      .routine__title {
        @media only screen and (max-width: 768px) {
          text-align: center;
        }
      }

      .routine__content {
        margin-top: 1rem;

        .progress {
          margin-top: 1rem;
        }

        .exercise__list {
          margin-top: 2rem;
          max-height: 150px;
          overflow-y: auto;

          .exercise {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
          }
        }
      }
    }

    .circular--progress {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        width: 65% !important;
        margin-top: 1.5rem;

        @media only screen and (max-width: 768px) {
          width: 50% !important;
        }
      }
    }
  }
}
